.user-form-header {
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
}

.user-form {
    display: grid;
    padding-top: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

.username-input {
    display: grid;
    font-size: 25px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-radius: 5px;
}

.password-input {
    display: grid;
    font-size: 25px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 5px;
}

.submit-user {
    display: grid;
    font-size: 25px;
    margin-top: 10px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(3, 63, 18);
    transition-duration: 0.5s;
}

.submit-user:hover {
    background-color: rgb(3, 63, 18);
    color: white;
}

.user-form-div {
    padding-top: 100px;
    height: 1000px;
    text-align: center;
    background-image: url('https://i.dlpng.com/static/png/3893100-gecko-png-98-images-in-collection-page-2-png-gecko-945_630_preview.webp');
    background-repeat: no-repeat;
}

.user-form-background {
    height: 450px;
    width: 350px;
    opacity: .8;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(230, 234, 238);
}